{% if site.logo != null %}
<!--<div id="logo">
    <div class="l1"></div>
    <div class="l2"></div>
    <div class="l3"></div>
</div>-->
<!--<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}">
    <div class="thumbnail" style="width: 400px; height: 300px; overflow: hidden; display: inline-flex; display:">
        <img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp" style="height: 420px; width: 420px;">
    </div>
</a>-->
<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}">
    <img src="{{ site.url }}/images/{{ site.logo }}" style="width:538px; height:241px;" alt="{{ site.title }} logo" class="animated fadeInUp">
</a>
{% endif %}